@{
    ViewData ["Title"] = "Links";
}

<!-- Main container start-->
<main class="main-bg bg-dark p-5">

    <section>
        <div class="container-xxl my-5 p-5" id="journey">

            <div class="container my-5 justify-content-center">
                <div class="row g-5 text-center">
                    <h1>Developer Network</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Below network link is under construction -->
    <section id="dev-network">
        <div class="album py-5 bg-body-tertiary">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm p-5 network-img-cont">
                            <img src="~/img/img1.jpeg">
                            <div class="card-body">
                                <h2 class="card-text fs-6">John Black</h2>
                            </div>
                            <div class="col-lg-6 col-md-6 justify-content-center">
                                <div class="d-flex pt-3 text-center">
                                    <a class="btn btn-square btn-secondary rounded-circle me-2" href="https://www.linkedin.com/in/john-black-1b0261182/" target="_blank"><i class="fab fa-linkedin"></i></a>
                                    <a class="btn btn-square btn-secondary rounded-circle me-2" href="http://johnblackcoding.com/" target="_blank"><i class="fa fa-globe"></i></a>
                                    <a class="btn btn-square btn-secondary rounded-circle me-2" href="http://github.com/JohnBlack-101" target="_blank"><i class="fab fa-github"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm p-5">
                            <img src="~/img/img2.jpeg">
                            <div class="card-body">
                                <h2 class="card-text fs-6">Harrison Smith</h2>
                            </div>
                            <div class="col-lg-6 col-md-6 justify-content-center">
                                <div class="d-flex pt-3 text-center">
                                    <a class="btn btn-square btn-secondary rounded-circle me-2" href="https://www.linkedin.com/in/harrison-smith-74a01b219/" target="_blank"><i class="fab fa-linkedin"></i></a>
                                    <a class="btn btn-square btn-secondary rounded-circle me-2" href="http://www.harrisonwsmith.com" target="_blank"><i class="fa fa-globe"></i></a>
                                    <a class="btn btn-square btn-secondary rounded-circle me-2" href="http://github.com/harrisonws320" target="_blank"><i class="fab fa-github"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm p-5">
                            <img src="~/img/img3.png">
                            <div class="card-body">
                                <h2 class="card-text fs-6">Kate Baldwin</h2>
                            </div>
                            <div class="col-lg-6 col-md-6 justify-content-center">
                                <div class="d-flex pt-3 text-center">
                                    <a class="btn btn-square btn-secondary rounded-circle me-2" href="https://www.linkedin.com/in/mary-kate-b-940ba4195/" target="_blank"><i class="fab fa-linkedin"></i></a>
                                    <a class="btn btn-square btn-secondary rounded-circle me-2" href="http://www.marykatebaldwin.com" target="_blank"><i class="fa fa-globe"></i></a>
                                    <a class="btn btn-square btn-secondary rounded-circle me-2" href="https://github.com/katbaldwinn" target="_blank"><i class="fab fa-github"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm p-5">
                            <img src="~/img/img4.png">
                            <div class="card-body">
                                <h2 class="card-text fs-6">Scott Cousino</h2>
                            </div>
                            <div class="col-lg-6 col-md-6 justify-content-center">
                                <div class="d-flex pt-3 text-center">
                                    <a class="btn btn-square btn-secondary rounded-circle me-2" href="https://www.linkedin.com/in/scott-cousino-a5bb66295/" target="_blank"><i class="fab fa-linkedin"></i></a>
                                    <a class="btn btn-square btn-secondary rounded-circle me-2" href="http://www.scottcousino.net" target="_blank"><i class="fa fa-globe"></i></a>
                                    <a class="btn btn-square btn-secondary rounded-circle me-2" href="https://github.com/Ssc553" target="_blank"><i class="fab fa-github"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm p-5">
                            <img src="~/img/img5.png">
                            <div class="card-body">
                                <h2 class="card-text fs-6">Benjamin Grochowsky</h2>
                            </div>
                            <div class="col-lg-6 col-md-6 justify-content-center">
                                <div class="d-flex pt-3 text-center">
                                    <a class="btn btn-square btn-secondary rounded-circle me-2" href="https://www.linkedin.com/in/benjamin-grochowsky-501542295/" target="_blank"><i class="fab fa-linkedin"></i></a>
                                    <a class="btn btn-square btn-secondary rounded-circle me-2" href="http://www.webejammn.com	" target="_blank"><i class="fa fa-globe"></i></a>
                                    <a class="btn btn-square btn-secondary rounded-circle me-2" href="https://github.com/Ben-Grochowsky" target="_blank"><i class="fab fa-github"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm p-5">
                            <img src="~/img/img.jpg">
                            <div class="card-body">
                                <h2 class="card-text fs-6">Nathan Boehm</h2>
                            </div>
                            <div class="col-lg-6 col-md-6 justify-content-center">
                                <div class="d-flex pt-3 text-center">
                                    <a class="btn btn-square btn-secondary rounded-circle me-2" href="https://www.linkedin.com/in/nathanboehm/" target="_blank"><i class="fab fa-linkedin"></i></a>
                                    <a class="btn btn-square btn-secondary rounded-circle me-2" href="https://nathanboehm.com/" target="_blank"><i class="fa fa-globe"></i></a>
                                    <a class="btn btn-square btn-secondary rounded-circle me-2" href="https://github.com/comp-arison" target="_blank"><i class="fab fa-github"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm p-5">
                            <img src="~/img/img.jpg">
                            <div class="card-body">
                                <h2 class="card-text fs-6">Colton Hammond</h2>
                            </div>
                            <div class="col-lg-6 col-md-6 justify-content-center">
                                <div class="d-flex pt-3 text-center">
                                    <a class="btn btn-square btn-secondary rounded-circle me-2" href="https://www.linkedin.com/in/colton-hammond-a39b2b295/" target="_blank"><i class="fab fa-linkedin"></i></a>
                                    <a class="btn btn-square btn-secondary rounded-circle me-2" href="http://www.coltonhammond.com" target="_blank"><i class="fa fa-globe"></i></a>
                                    <a class="btn btn-square btn-secondary rounded-circle me-2" href="http://github.com/hammondcolton" target="_blank"><i class="fab fa-github"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>
    <!-- End of network links -->
    <!-- Contact Start -->
    <section>
        <div class="container-xxl contact py-5 bg-light">
            <div class="container">
                <div class="section-title text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                    <p class="fs-5 fw-medium fst-italic text-light">Contact</p>
                    <h1 class="display-6 text-warning">Get in Touch</h1>
                </div>

                <div class="container">
                    <div class="row justify-content-center align-items-center">
                        <div class="col text-center">
                            <a href="/contact.html">
                                <button class="btn btn-outline-secondary contact-bttn  m-auto text-center mb-5 p-2">Contact Today</button>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center wow fadeInUp" data-wow-delay="0.1s">
                    <div class="col-lg-8">
                        <div class="row g-5">
                            <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="0.3s">
                                <a href="mailto:gabriel.ramirez37@outlook.com" target="_blank">
                                    <div class="btn-square mx-auto mb-3">
                                        <i class="fa fa-envelope fa-2x text-white"></i>
                                    </div>
                                    Email
                                </a>
                            </div>
                            <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="0.4s">
                                <a href="https://github.com/gdev15" target="_blank">
                                    <div class="btn-square mx-auto mb-3">
                                        <i class="fab fa-github fa-2x text-white"></i>
                                    </div>
                                    Github
                                </a>
                            </div>
                            <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="0.5s">
                                <a href="https://www.linkedin.com/in/gabriel-ramirez-29b49855/" target="_blank">
                                    <div class="btn-square mx-auto mb-3">
                                        <i class="fab fa-linkedin text-light fa-2x"></i>
                                    </div>
                                    Linkedin
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> <!--End contact-->
</main> <!-- End Main -->