@{
    ViewData ["Title"] = "Portfolio";
}

<!-- Main container start-->
<main class="main-bg bg-dark p-5">

    <section>
        <div class="container-xxl my-5 p-5" id="journey">

            <div class="container my-5 justify-content-center">
                <div class="row g-5 text-center">
                    <h1>My Projects</h1>
                    <p>
                        I enjoy staying envolved in the technology industry, so I'm always looking for projects to help diversify and improve my skill set.
                        My projects range from website & game development to graphic design.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="album py-5 bg-body-tertiary">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/img/mathapp.png">
                            <div class="card-body project-cards">
                                <a href="https://apps.apple.com/us/app/space-mission-math/id1661593069" target="_blank">
                                    <h6>Space Mission Math</h6>
                                    <p class="card-text text-white h-100">After taking a gaming development course through Lindenwood University I decided to create a small app. Space Mission Math is a casual free learning game that is designed to help anyone practice basic math. The application was designed using <i class="text-warning">Unity/C#</i> and is puublished on Google Play and the App Store.</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/img/consoleimg.png">
                            <div class="card-body project-cards">
                                <a href="https://github.com/gdev15/Dungeon_Application" target="_blank">
                                    <h6>Dungeon Application</h6>
                                    <p class="card-text  text-white h-100">This is a <i class="text-warning">.NET Core </i> Console Application. The Dungeon application was implemented using foundational concepts of <i class="text-warning">C# </i> that employ OOP principles and design patters. Seamlessly integrated source control via <i class="text-warning">Github </i>, ensuring organized versioning and fostering collaborative potential.</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/img/halloween.png">
                            <div class="card-body project-cards">
                                <a href="https://www.greenfoot.org/scenarios/30195" target="_blank">
                                    <h6>Halloween | Collection Candy Game</h6>
                                    <p class="card-text  text-white h-100">After taking Computer Science One, I decided to create a collection game using Greenfoot and <i class="text-warning">Java</i>. For me, it's always a big help to find a digestable project to apply the things I've learned. </p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/img/bates.png">
                            <div class="card-body project-cards">
                                <a href="https://www.bateshockey.com/" target="_blank">
                                    <h6>Sport Website</h6>
                                    <p class="card-text text-white h-100">Working with Coach Bates was extremely fun. He allowed me the opportunity to implement my own perosonal touch to his brand and website. This particular website was designed and developed using <i class="text-warning">Shopify, CSS, Liquid</i></p>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/img/archway.png">
                            <div class="card-body project-cards">
                                <a href="https://archwaylitter.com/" target="_blank">
                                    <h6>Cleaning Company Website</h6>
                                    <p class="card-text text-white h-100">This website was designed and developed using <i class="text-warning">WordPress</i> and the <i class="text-danger">Elementor</i>  Plug-in. The website was also deployed to hostgator.</p>
                                </a>
                            </div>

                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/img/durham.png">
                            <div class="card-body project-cards">
                                <a href="https://www.durhamstriders.com/" target="_blank">
                                    <h6>Youth Association Website</h6>
                                    <p class="card-text text-white h-100">Using upworks platform, I ended up being lucky enough finding some clients. I enjoyed working with the Durham team in creating their website. This website was designed and deployed using <i class="text-danger">WordPress</i> along with the <i class="text-danger">Elementor</i> Plug-in.</p>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/img/photo_collage.png">
                            <div class="card-body project-cards">
                                <h6>Photography</h6>
                                <p class="card-text text-white h-100">Photography is a hobby of mine, and I have found that it enriches my web design endeavors. During my studies, I took a course in photography where I learned how to use a DSLR camera to capture various types of images. This skill has proven extremely useful when clients need unique images to help encapsulate their brand.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/img/graphics.png">
                            <div class="card-body project-cards">
                                <h6>Graphic Design</h6>
                                <p class="card-text text-white h-100">I've worked with clients and businesses providing infographics, business logos, business cards, pamphlets, banners, social media designs, and even GiFs. I typically work using <i class="text-warning">Adobe Photoshop</i> & <i class="text-warning">Adobe Illustrator</i></p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/img/wgd.png">
                            <div class="card-body project-cards">
                                <a href="https://webgdesigns.com/" target="_blank">
                                    <h6>Website Development Company Website</h6>
                                    <p class="card-text text-white h-100">One of my personal websites. It was designed and developed using a variety of technologies. This included: <i class="text-warning">Bootstrap, jQuery, JavaScript, HTML, CSS, VS Code</i> and <i class="text-warning">PHP</i>.</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <!-- Contact Start -->
    <section>
        <div class="container-xxl contact py-5 bg-light">
            <div class="container">
                <div class="section-title text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                    <p class="fs-5 fw-medium fst-italic text-light">Contact</p>
                    <h1 class="display-6 text-warning">Get in Touch</h1>
                </div>

                <div class="container">
                    <div class="row justify-content-center align-items-center">
                        <div class="col text-center">
                            <a href="@Url.Action("Contact","Home")" class="btn btn-outline-secondary contact-bttn  m-auto text-center mb-5 p-2">
                                Contact Today
                            </a>
                        </div>
                    </div>
                </div>


                <div class="row justify-content-center wow fadeInUp" data-wow-delay="0.1s">
                    <div class="col-lg-8">
                        <div class="row g-5">
                            <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="0.3s">
                                <a href="mailto:gabriel.ramirez37@outlook.com" target="_blank">
                                    <div class="btn-square mx-auto mb-3">
                                        <i class="fa fa-envelope fa-2x text-white"></i>
                                    </div>
                                    Email
                                </a>
                            </div>
                            <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="0.4s">
                                <a href="https://github.com/gdev15" target="_blank">
                                    <div class="btn-square mx-auto mb-3">
                                        <i class="fab fa-github fa-2x text-white"></i>
                                    </div>
                                    Github
                                </a>
                            </div>
                            <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="0.5s">
                                <a href="https://www.linkedin.com/in/gabriel-ramirez-29b49855/" target="_blank">
                                    <div class="btn-square mx-auto mb-3">
                                        <i class="fab fa-linkedin text-light fa-2x"></i>
                                    </div>
                                    Linkedin
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> <!--End contact-->
</main> <!-- End Main -->